<div class="boxed_wrapper">

    <app-second-header></app-second-header>
    <app-breadcrumb [activePageName]="'Customer Reviews'"></app-breadcrumb>
    <section class="testimonial-page">
        <div class="container">
            <div class="row masonary-layout" style="position: relative; height: 1597.92px;">
                <!--Start single item-->
                <div class="col-md-4 col-sm-6 col-xs-12" style="position: absolute; left: 0px; top: 0px;">
                    <div class="single-testimonial-item">
                        <div class="img-holder">
                            <img src="../../../assets/images/customerReviews1.jpg" alt="Awesome Image">
                        </div>
                        <div class="top">
                            <div class="left pull-left">
                                <h3> Santa Cruz - <span>London</span></h3>
                            </div>
                            <div class="right pull-right">
                                <div class="review-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <p>“ They did all the repairs and it cost me about 1/3 of the price. I was actually really happy with the work that was done.”</p>
                        </div>
                        <div class="bottom">
                            <div class="left pull-left">
                                <h3>Changed Oil and Filter</h3>
                            </div>
                            <div class="right pull-right">
                                <img src="../../../assets/images/brand-1.png" alt="Awesome Image">    
                            </div>
                        </div>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-4 col-sm-6 col-xs-12" style="position: absolute; left: 400px; top: 0px;">
                    <div class="single-testimonial-item">
                        <div class="img-holder">
                            <img src="../../../assets/images/customerReviews2.jpg" alt="Awesome Image">
                        </div>
                        <div class="top">
                            <div class="left pull-left">
                                <h3>E. Douglas - <span>London</span></h3>
                            </div>
                            <div class="right pull-right">
                                <div class="review-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <p>“These guys are just the coolest company ever! They were aware of our transported for road and tail as complex special.”</p>
                        </div>
                        <div class="bottom">
                            <div class="left pull-left">
                                <h3>Basic Inspection</h3>
                            </div>
                            <div class="right pull-right">
                                <img src="../../../assets/images/brand-2.png" alt="Awesome Image">    
                            </div>
                        </div>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-4 col-sm-6 col-xs-12" style="position: absolute; left: 800px; top: 0px;">
                    <div class="single-testimonial-item">
                        <div class="img-holder">
                            <img src="../../../assets/images/customerReviews3.jpg" alt="Awesome Image">
                        </div>
                        <div class="top">
                            <div class="left pull-left">
                                <h3>Emilia Crane - <span>London</span></h3>
                            </div>
                            <div class="right pull-right">
                                <div class="review-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <p>“Their performance on our project was successful. Exceptional quality &amp; was delivered in time and budget.”</p>
                        </div>
                        <div class="bottom">
                            <div class="left pull-left">
                                <h3>Brake Pads Replacement</h3>
                            </div>
                            <div class="right pull-right">
                                <img src="../../../assets/images/brand-3.png" alt="Awesome Image">    
                            </div>
                        </div>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-4 col-sm-6 col-xs-12" style="position: absolute; left: 0px; top: 532px;">
                    <div class="single-testimonial-item">
                        <div class="img-holder">
                            <img src="../../../assets/images/customerReviews4.jpg" alt="Awesome Image">
                        </div>
                        <div class="top">
                            <div class="left pull-left">
                                <h3>E. Douglas - <span>London</span></h3>
                            </div>
                            <div class="right pull-right">
                                <div class="review-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <p>“These guys are just the coolest company ever! They were aware of our transported for road and tail and well special.”</p>
                        </div>
                        <div class="bottom">
                            <div class="left pull-left">
                                <h3>Basic Inspection</h3>
                            </div>
                            <div class="right pull-right">
                                <img src="../../../assets/images/brand-2.png" alt="Awesome Image">    
                            </div>
                        </div>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-4 col-sm-6 col-xs-12" style="position: absolute; left: 400px; top: 532px;">
                    <div class="single-testimonial-item">
                        <div class="img-holder">
                            <img src="../../../assets/images/customerReviews5.jpg" alt="Awesome Image">
                        </div>
                        <div class="top">
                            <div class="left pull-left">
                                <h3>Emilia Crane - <span>London</span></h3>
                            </div>
                            <div class="right pull-right">
                                <div class="review-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <p>“Their performance on our project was successful. Exceptional quality &amp; was delivered in time and budget.”</p>
                        </div>
                        <div class="bottom">
                            <div class="left pull-left">
                                <h3>Brake Pads Replacement</h3>
                            </div>
                            <div class="right pull-right">
                                <img src="../../../assets/images/brand-3.png" alt="Awesome Image">    
                            </div>
                        </div>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-4 col-sm-6 col-xs-12" style="position: absolute; left: 800px; top: 532px;">
                    <div class="single-testimonial-item">
                        <div class="img-holder">
                            <img src="../../../assets/images/customerReviews6.jpg" alt="Awesome Image">
                        </div>
                        <div class="top">
                            <div class="left pull-left">
                                <h3>Emilia Crane - <span>London</span></h3>
                            </div>
                            <div class="right pull-right">
                                <div class="review-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <p>“Their performance on our project was successful. Exceptional quality &amp; was delivered in time and budget.”</p>
                        </div>
                        <div class="bottom">
                            <div class="left pull-left">
                                <h3>Brake Pads Replacement</h3>
                            </div>
                            <div class="right pull-right">
                                <img src="../../../assets/images/brand-3.png" alt="Awesome Image">    
                            </div>
                        </div>
                    </div>
                </div>
                <!--End single item-->
                <!--Start single item-->
                <div class="col-md-4 col-sm-6 col-xs-12" style="position: absolute; left: 0px; top: 1065px;">
                    <div class="single-testimonial-item">
                        <div class="img-holder">
                            <img src="../../../assets/images/customerReviews7.jpg" alt="Awesome Image">
                        </div>
                        <div class="top">
                            <div class="left pull-left">
                                <h3>E. Douglas - <span>London</span></h3>
                            </div>
                            <div class="right pull-right">
                                <div class="review-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <p>“These guys are just the coolest company ever! They were aware of our transported for road and tail and well special.”</p>
                        </div>
                        <div class="bottom">
                            <div class="left pull-left">
                                <h3>Basic Inspection</h3>
                            </div>
                            <div class="right pull-right">
                                <img src="../../../assets/images/brand-2.png" alt="Awesome Image">    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" style="position: absolute; left: 400px; top: 1065px;">
                    <div class="single-testimonial-item">
                        <div class="img-holder">
                            <img src="../../../assets/images/customerReviews8.jpg" alt="Awesome Image">
                        </div>
                        <div class="top">
                            <div class="left pull-left">
                                <h3>Emilia Crane - <span>London</span></h3>
                            </div>
                            <div class="right pull-right">
                                <div class="review-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <p>“Their performance on our project was successful. Exceptional quality &amp; was delivered in time and budget.”</p>
                        </div>
                        <div class="bottom">
                            <div class="left pull-left">
                                <h3>Brake Pads Replacement</h3>
                            </div>
                            <div class="right pull-right">
                                <img src="../../../assets/images/brand-3.png" alt="Awesome Image">    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" style="position: absolute; left: 800px; top: 1065px;">
                    <div class="single-testimonial-item">
                        <div class="img-holder">
                            <img src="../../../assets/images/customerReviews9.jpg" alt="Awesome Image">
                        </div>
                        <div class="top">
                            <div class="left pull-left">
                                <h3>Emilia Crane - <span>London</span></h3>
                            </div>
                            <div class="right pull-right">
                                <div class="review-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <p>“Their performance on our project was successful. Exceptional quality &amp; was delivered in time and budget.”</p>
                        </div>
                        <div class="bottom">
                            <div class="left pull-left">
                                <h3>Brake Pads Replacement</h3>
                            </div>
                            <div class="right pull-right">
                                <img src="../../../assets/images/brand-3.png" alt="Awesome Image">    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
      
  <app-footer></app-footer>
    
</div>