<div class="boxed_wrapper">

    <app-second-header></app-second-header>
    <app-breadcrumb [activePageName]="'سؤال وجواب'"></app-breadcrumb>
    <section class="faq-content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-item">
                        <div class="title">
                            <h3>لون عادم المحرك أوالشكمان أبيض مستمر:-</h3>
                        </div>
                        <div class="text">
                            <p>فى حال كان لون العادم الخارج من الشكمان أبيض مستمر ذلك فى حالات التشغيل العادية ..فهو يكون ناتج عن وجود تسرب لمياه التبريد إلى غرفة الإحتراق فتحترق معه وينتج هذا اللون للعادم.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-item">
                        <div class="title">
                            <h3>لون عادم المحرك أوالشكمان أسود أو رمادى قريب إلى الأسود:-</h3>
                        </div>
                        <div class="text">
                            <p>يدل هذا اللون على إحتراق كمية كبيرة من الوقود داخل غرفة الإحتراق ،هنا يحتاج الكربارتير أو البخاخات للضبط بمعنى ضبط الهواء مع الوقود.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-item">
                        <div class="title">
                            <h3>قياس ضغط هواء الإطارات:</h3>
                        </div>
                        <div class="text">
                            <p>فى حال قياس ضغط هواء الإطارات فيجب الحرص أن يكون الإطار بارد ..ليعطى قراءة صحيحة للإطار.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-item">
                        <div class="title">
                            <h3>لون عادم المحرك أوالشكمان أزرق سماوى:-</h3>
                        </div>
                        <div class="text">
                            <p>يدل هذا اللون على وجود إحتراق بزيت التزييت داخل غرفة الإحتراق وهنا لابد من إصلاح المحرك.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-item">
                        <div class="title">
                            <h3>ظهور رائحة بنزين أثناء سير السيارة:</h3>
                        </div>
                        <div class="text">
                            <p>فى حال وجود رائحة للبنزين أثناء سير السيارة بصورة متكررة فلابد من من التأكد من عدم وجود تسريب للبنزين من دورة الوقود،وكذلك الضبط الصحيح للمحرك خصوصآ فى حال السرعات العالية ،عدم وجود تنفيس للعادم من الشكمان وأخيرآ التاكد من الإحكام الجيد للهوايات الداخلية للشنطة الخلفية أو وجود إنسداد بماسورة تهوية التانكى ببعض السيارات.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" >
                    <div class="single-item">
                        <div class="title">
                            <h3>سماع صوت السلف عند تشغيل السيارة مع عدم عمل السيارة:</h3>
                        </div>
                        <div class="text">
                            <p>هناك مشكلة من مشاكل السيارات الشائعة هى عند تشغيل السيارة يسمع صوت السلف ولكن لاتعمل السيارة يدل هذا العيب على عدم عمل نظام الإشعال أو نظام حقن الوقود..فلابد من التأكد من وجود شرارة وكذلك وصول ضغط كافى من البنزين.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" >
                    <div class="single-item">
                        <div class="title">
                            <h3>إنتفاخ الكيس الهوائى air bag:</h3>
                        </div>
                        <div class="text">
                            <p>بالنسبة للسيارات التى تحتوى على air bag يجب الإنتباه عند إضاءة لمبة التحذير بالتابلوه SRS يدل هذا على وجود عطل أو خلل فى التوصيلات الكهربائية للسيارة ،فى هذه الحالة يجب التوجه فورآ لمركز خدمة متخصص معتمد لإصلاح المشكلة ..ذلك لأن أى تلاعب من شخص غيرمحترف ومدرك بتلك العملية المتعلقة بتشغيل الحساسات الإليكترونية سوف يؤدى إلى إنتفاخ الكيس الهوائى فجأه مما قد يؤذى الشخص القريب منه كما يكلف إصلاحة الكثير.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" >
                    <div class="single-item">
                        <div class="title">
                            <h3>زيت الفرامل</h3>
                        </div>
                        <div class="text">
                            <p>عند إنخفاض منسوب زيت الفرامل يجب عدم تزويده ذلك لأن إنخفاض منسوب زيت الفرامل يدل على تأكل فحمات الفرامل مما يعمل على إضاءة لمبة الفرامل فى التابلوه والعكس صحيح ،يتم تزويد زيت الفرامل فى حال تسربه أو عند تغيير أى أجزاء داخلية بالدورة كما يجب الحرص والحذر أثناء استخدام زيت الفرامل لأن تأثيره شديد على دهان السيارة وإن حدث فلابد من غسل جسم السيارة بكمية وفيرة من المياه وخاصتآ المكان المنسكب علية الزيت</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6" >
                    <div class="single-item">
                        <div class="title">
                            <h3>تغيير البواجى أو شمعات الإشعال :</h3>
                        </div>
                        <div class="text">
                            <p>من المشاكل الشائعة أيضآ هو تغيير البواجى او شماعات الإشعال ..فى هذه الحالة ينصح قبل تغير البواجى بالنفخ والتنظيف حولها جيدآ بهواء مضغوط لتنظيف الأتربة المتراكمة حول الكويلات أو اسلاك البواجى ثم بعد ذلك يتم نزعها وتغييرها بالبواجى الجديدة مع العلم أن هناك مفتاح خاص للبواجى. </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6" >
                    <div class="single-item">
                        <div class="title">
                            <h3>كيفية الكشف عن حالة البطارية:</h3>
                        </div>
                        <div class="text">
                            <p>لاينصح عند الكشف عن حالة البطارية بتوصيل طرفى قطبيها بكابل أو مفك  وعمل شرارة فهذه العملية تؤدى إلى مرور أمبير عالى يعمل هذا على تلف أجزاء البطارية الداخلية ويفتت الماده الفعالة بها من على الألواح .</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" >
                    <div class="single-item">
                        <div class="title">
                            <h3>إنخفاض مستوى السيارة للأرض :-</h3>
                        </div>
                        <div class="text">
                            <p>فى حال كنت تعانى من إنخفاض مستوى السيارة للأرض فعليك التأكد من سلامة السوست والمساعدات واليايات فإذا كانت سليمة . إحزر أن تأخذ بنصيحة أحد بعمل عليات أو كعكات من أعلى وأسفل السوست لرفع مستوى السيارة عن الأرض بالفعل سوف تعمل على رفع مستوى السيارة ولكن تتسبب فى تلف المساعدات وتؤدى إلى وجود خشونة فى المطبات أثناء سير السيارة …فيجب عليك الذهاب إلى أحد المراكز المعتمدة والمتخصصة وإسأل مدى إمكانية رفع مستوى السيارة عن الأرض.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" >
                    <div class="single-item">
                        <div class="title">
                            <h3>فى حال إرتفاع درجة حرارة المحرك:-</h3>
                        </div>
                        <div class="text">
                            <p>يجب على الفور أخذ المسار الأيمن من الطريق والتوقف بالسيارة فى مكان أمن من جانب الطريق . م إيقاف تشغيل المحرك عن الدوران. تم فتح (الكبوت) بحذر شديد ومراقبة الأتى :-وجود أى تسرب للمياه بدورة التبريد يستلزم منعها وإصلاح ما يلزم. التأكد من سلامة تشغيل المروحة . التأكد من وجود مياه داخل الردياتير ولكن بعد أن يبرد المحرك حتى تستطيع فتح غطاء الردياتير . التأكد من سلامة قرب المياه الردياتير ووجود مياه بداخلها للمستوى المطلوب .</p>
                        </div>
                    </div>
                </div>
                
              
               
                
            </div>
        </div>
    </section>
  <app-footer></app-footer>
</div>