<footer class="footer-area">
    <div class="container">
        <div class="row">
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget martop-minus pd-bottom50">
                    <div class="footer-logo">
                        <a style="text-decoration: none;" href="index.html">
                            <h2 style="color: white;">كار <span style="color: #233588;">هب</span></h2>
                            <!-- <img src="assets/images/footer-logo.png" alt="Awesome Footer Logo"> -->
                        </a>
                    </div>
                    <div class="our-info">
                        <p>نشاط تجاري يهدف إلى تلبية احتياجات العملاء فيما يتعلق بالحصول على سيارات جديدة أو مستعملة
                            للاستخدام الشخصي أو
                            التجاري، تأجير السيارات للعملاء لفترات زمنية محددة ، حيث يتم دفع رسوم إيجار شهرية أو أسبوعية
                            مقابل استخدام السيارة
                            دون الحاجة لشرائها، نقوم بتأمين مجموعة متنوعة من السيارات المتاحة للإيجار والشراء، مع
                            الاهتمام بالعلامات التجارية
                            والطرازات المفضلة لدى العملاء.</p>
                        <a class="thm-btn" href="#">احصل على عرض أسعار الآن</a>
                    </div>

                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget pd-bottom50">
                    <div class="title">
                        <h3>آخر مشاركة مدونة</h3>
                    </div>
                    <ul class="latest-blog">
                        <li>
                            <div class="text-holder">
                                <a href="#">اعثر على آخر الأخبار حول سيارتنا الجديدة والمستعملة لاختيار أفضل سيارة بسهولة.</a>
                                <span><i class="fa fa-clock-o" aria-hidden="true"></i>٢٠١٥ ،٢٨  أغسطس </span>
                            </div>
                        </li>
                        <li>
                            <div class="text-holder">
                                <a href="#">خبراء سيارات .</a>
                                <span><i class="fa fa-clock-o" aria-hidden="true"></i>٢٠١٥ ، ١٧ يوليو</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget mar-bottom">
                    <div class="title">
                        <h3>احصل على اتصال</h3>
                    </div>
                    <ul class="footer-contact-info">
                        <li>
                            <div class="icon-holder">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="text-holder">
                                <h5>الأسماعيلية , مصر </h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="text-holder">
                                <h5> +201210810661 : رقم التلفون </h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <i class="fa fa-envelope"></i>

                            </div>
                            <div class="text-holder">
                                <h5> CarHub@mail.com </h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <i class="fa fa-fax"></i>
                            </div>
                            <div class="text-holder">
                                <h5>(064) 326-985-7423</h5>
                            </div>
                        </li>
                    </ul>
                    <div class="map">
                        <a href="#">مكاننا في الخريطة</a>
                    </div>
                </div>
            </div>
            <!--Start single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget clearfix">
                    <div class="title">
                        <h3> ساعات العمل </h3>
                    </div>
                    <ul class="working-hours">
                        <li>٠ ٠ :٩ ٠  ص - ٠ ٠ :٦ ٠ م <span>السبت: </span></li>
                        <li>٠ ٠ :٩ ٠  ص - ٠ ٠ :٦ ٠ م <span>الأحد: </span></li>
                        <li>٠ ٠ :٩ ٠  ص - ٠ ٠ :٦ ٠ م <span>الأثنين: </span></li>
                        <li>٠ ٠ :٩ ٠  ص - ٠ ٠ :٦ ٠ م <span>الثلاثاء: </span></li>
                        <li>٠ ٠ :٩ ٠  ص - ٠ ٠ :٦ ٠ م <span>الأربعاء: </span></li>
                        <li>٠ ٠ :٩ ٠  ص - ٠ ٠ :٦ ٠ م <span>الخميس: </span></li>
                        <li>مغلق   <span class="closed">الجمعة : </span></li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
        </div>
    </div>
</footer>
<section class="footer-bottom-area style-three">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright-text">
                    <p> CarHub @ 2023 جميع الحقوق محفوظة</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="footer-social-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>