<app-header></app-header>
<div class="main-slider slide-wrapper main-banner-area">
    <div class="single-banner-slide" style="background-image: url(assets/images/slide.jpg);">
      <div class="slide-content">
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-lg-7 col-md-12 col-sm-12" data-bs-animation="animated bounceInDown">
              <div class="large_txt">
                <p style="color: aliceblue;">اجعل سيارتك تدوم لفترة أطول وجذب</p>
              </div>
              <div class="slider_text">
                <a class="slider_readmore"> <span>قراءة المزيد</span> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<section class="slogan-area style-two">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: fadeInUp;">
                    <div class="title pull-right">
                        <h1>نحن نوفر لهم الوصول إلى العملاء ، وجدولة المرونة ، والأجزاء عالية الجودة.</h1>
                    </div>
                    <div class="button pull-right">
                        <a class="thm-btn">احصل على عرض أسعار</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="service-area-v2" id="omar">
    <div class="container">
        <div class="sec-title text-center">
            <h1>خدماتنا</h1>
            <span class="border center"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="scrolling">

                    <div class="service-item"><div class="single-item">
                    <div class="img-holder">
                        <img src="assets/images/service1.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="ser-single1-wheel-works.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="text-holder">
                        <div class="top clearfix">
                            <div class="title pull-right">
                                <h3>أعمال العجلة</h3>
                            </div>
                            <div class="icon pull-right">
                                <span class="flaticon-car-wheel"></span>
                            </div>
                        </div>
                        <div class="text">
                            <p>نحن نضمن أفضل سعر على جميع الإطارات ونقدم خدمات مجانية مثل دوران الإطارات.</p>
                        </div>
                    </div>   
                    </div></div><div class="service-item"><div class="single-item">
                        <div class="img-holder">
                            <img src="assets/images/service2.jpg" alt="Awesome Image">
                            <div class="overlay-style-one">
                                <div class="box">
                                    <div class="content">
                                        <a href="ser-single2-painting-works.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="text-holder">
                            <div class="top clearfix">
                                <div class="title pull-right">
                                    <h3>اعمال طلاء</h3>
                                </div>
                                <div class="icon pull-right">
                                    <span class="flaticon-painter-roller"></span>
                                </div>
                            </div>
                            <div class="text">
                                <p>يعني طلاء الجسم التلقائي أنه يمكنك متابعة مناصب على مستوى الدخول مع أرباب العمل لدينا. </p>
                            </div>
                        </div>   
                    </div></div><div class="service-item"><div class="single-item">
                        <div class="img-holder">
                            <img src="assets/images/service3.jpg" alt="Awesome Image">
                            <div class="overlay-style-one">
                                <div class="box">
                                    <div class="content">
                                        <a href="ser-single5-engine-works.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="text-holder">
                            <div class="top clearfix">
                                <div class="title pull-right">
                                    <h3>يعمل المحرك</h3>
                                </div>
                                <div class="icon pull-right">
                                    <span class="flaticon-engine"></span>
                                </div>
                            </div>
                            <div class="text">
                                <p>خدمة المحرك هي نافذة سيارات وموهبة الطلاء والمواد عالية الجودة.</p>
                            </div>
                        </div>   
                    </div></div><div class="service-item"><div class="single-item">
                        <div class="img-holder">
                            <img src="assets/images/service4.jpg" alt="Awesome Image">
                            <div class="overlay-style-one">
                                <div class="box">
                                    <div class="content">
                                        <a href="ser-single3-air-conditioner.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="text-holder">
                            <div class="top clearfix">
                                <div class="title pull-right">
                                    <h3>مكيف هواء</h3>
                                </div>
                                <div class="icon pull-right">
                                    <span class="flaticon-air-conditioner"></span>
                                </div>
                            </div>
                            <div class="text">
                                <p>مبرد السيارة هو مبرد تبخيري لنافذة السيارة وأحيانًا كمستنقع.</p>
                            </div>
                        </div>   
                    </div></div><div class="service-item"><div class="single-item">
                        <div class="img-holder">
                            <img src="assets/images/service1.jpg" alt="Awesome Image">
                            <div class="overlay-style-one">
                                <div class="box">
                                    <div class="content">
                                        <a href="ser-single1-wheel-works.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="text-holder">
                            <div class="top clearfix">
                                <div class="title pull-right">
                                    <h3>أعمال العجلة</h3>
                                </div>
                                <div class="icon pull-right">
                                    <span class="flaticon-car-wheel"></span>
                                </div>
                            </div>
                            <div class="text">
                                <p>نحن نضمن أفضل سعر على جميع الإطارات ونقدم خدمات مجانية مثل دوران الإطارات.</p>
                            </div>
                        </div>   
                    </div></div><div class="service-item"><div class="single-item">
                        <div class="img-holder">
                            <img src="assets/images/service2.jpg" alt="Awesome Image">
                            <div class="overlay-style-one">
                                <div class="box">
                                    <div class="content">
                                        <a href="ser-single2-painting-works.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="text-holder">
                            <div class="top clearfix">
                                <div class="title pull-right">
                                    <h3>اعمال طلاء</h3>
                                </div>
                                <div class="icon pull-right">
                                    <span class="flaticon-painter-roller"></span>
                                </div>
                            </div>
                            <div class="text">
                                <p>يعني طلاء الجسم التلقائي أنه يمكنك متابعة مناصب على مستوى الدخول مع أرباب العمل لدينا. </p>
                            </div>
                        </div>   
                    </div></div><div class="service-item"><div class="single-item">
                        <div class="img-holder">
                            <img src="assets/images/service3.jpg" alt="Awesome Image">
                            <div class="overlay-style-one">
                                <div class="box">
                                    <div class="content">
                                        <a href="ser-single5-engine-works.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="text-holder">
                            <div class="top clearfix">
                                <div class="title pull-right">
                                    <h3>يعمل المحرك</h3>
                                </div>
                                <div class="icon pull-right">
                                    <span class="flaticon-engine"></span>
                                </div>
                            </div>
                            <div class="text">
                                <p>خدمة المحرك هي نافذة سيارات وموهبة الطلاء والمواد عالية الجودة.</p>
                            </div>
                        </div>   
                    </div></div>
                    <div class="service-item"><div class="single-item">
                        <div class="img-holder">
                            <img src="assets/images/service4.jpg" alt="Awesome Image">
                            <div class="overlay-style-one">
                                <div class="box">
                                    <div class="content">
                                        <a href="ser-single3-air-conditioner.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="text-holder">
                            <div class="top clearfix">
                                <div class="title pull-right">
                                    <h3>مكيف هواء</h3>
                                </div>
                                <div class="icon pull-right">
                                    <span class="flaticon-air-conditioner"></span>
                                </div>
                            </div>
                            <div class="text">
                                <p>مبرد السيارة هو مبرد تبخيري لنافذة السيارة وأحيانًا كمستنقع.</p>
                            </div>
                        </div>   
                    </div></div>
                    <div class="service-item"><div class="single-item">
                        <div class="img-holder">
                            <img src="assets/images/service1.jpg" alt="Awesome Image">
                            <div class="overlay-style-one">
                                <div class="box">
                                    <div class="content">
                                        <a href="ser-single1-wheel-works.html"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="text-holder">
                            <div class="top clearfix">
                                <div class="title pull-right">
                                    <h3>أعمال العجلة
                                    </h3>
                                </div>
                                <div class="icon pull-right">
                                    <span class="flaticon-car-wheel"></span>
                                </div>
                            </div>
                            <div class="text">
                                <p>نحن نضمن أفضل سعر على جميع الإطارات ونقدم خدمات مجانية مثل دوران الإطارات.</p>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
            </div>
                
        </div>        
    </div>
</section>
<section class="appoinment-area">
    <div class="container">
        <div class="row" >
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="appoinment">
                    <div class="sec-title">
                        <h1>قم بإرسال رسالة لنا</h1>
                        <span class="border"></span>
                    </div>
                    <form class="appoinment-form">
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <div class="form-group " style="position: relative;">
                                    
                                    <input name="Email" required #Email="ngModel" [(ngModel)]="email" id="Email" type="text" class="form-control" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" type="text" class="form-control" placeholder="البريد الإلكتروني">
                                    <div *ngIf="Email.errors?.['pattern']" class="text-danger err-span">
                                        البريد الإلكتروني غير صحيح
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group " style="position: relative;">
                                    <input name="Name" required #Name="ngModel" [(ngModel)]="name" id="Name" type="text" class="form-control" placeholder="الإسم">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            
                            <div class="col-md-6">
                                <div class="form-group " style="position: relative;">
                                   
                                    <input name="Subject" [ngModelOptions]="{standalone: true}" [(ngModel)]="subject" required #Subject="ngModel"  id="Subject" type="text" class="form-control" placeholder="الموضوع">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" style="position: relative;">
                                    <input name="Phone" (keypress)="sharedService.numberOnly($event)" [ngModelOptions]="{standalone: true}" pattern="^01[0125][0-9]{8}$" [(ngModel)]="phone" required #Phone="ngModel"  id="Phone" type="tel" class="form-control" placeholder="رقم الهاتف">
                                    <div *ngIf="Phone.errors?.['pattern']" class="text-danger err-span">
                                        رقم الهاتف غير صحيح
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4" >
                            <div class="col-md-12">
                                <div class="form-group " style="position: relative;">
                                    
                                    <textarea name="Message" [ngModelOptions]="{standalone: true}" [(ngModel)]="message" required #Message="ngModel" rows="3"  id="Message" type="text" class="form-control" placeholder="محتوي الرسالة"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                <button (click)="sendMessage()" [disabled]="Name.invalid || Phone.invalid || Email.invalid || Subject.invalid || Message.invalid" class="thm-btn bgclr-1 btn" type="submit" data-loading-text="Please wait...">إرسال الرسالة</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                
            </div>
        </div>
        <div class="img-holder">
            <img src="assets/images/appoinment.png" alt="Awesome Image">
        </div>
    </div>
</section>

<!-- customeeeeeer feeedback -->
<section class="testimonial-area style-three">
    <div class="container">
        <div class="sec-title text-center">
            <h1>تقييمات وأراء عملائنا</h1>
            <span class="border center"></span>
        </div> 
        <div class="row">
            <div class="col-md-12">
                <div class="scrolling">    
                    <div class="testimonail-item">
                            <div class="single-testimonial-item">
                                <div class="top">
                                    <div class="left thumb pull-right">
                                        <img src="assets/images/thumb-1.jpg" alt="Awesome Image">
                                    </div>
                                    <div class="left title pull-right">
                                        <h3> مصر - <span>الإسماعيلية</span></h3>
                                    </div>
                                    <div class="right pull-right">
                                        <div class="review-box">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <p>أجرى كل الإصلاحات وكلفني حوالي ثلث السعر. كنت سعيدًا حقًا بالعمل الذي تم إنجازه. كانوا على علم بنقلنا على الطريق.</p>
                                </div>
                            </div>
                    </div>
                    <div class="testimonail-item">
                        <div class="single-testimonial-item">
                            <div class="top">
                                <div class="left thumb pull-right">
                                    <img src="assets/images/thumb-1.jpg" alt="Awesome Image">
                                </div>
                                <div class="left title pull-right">
                                    <h3> مصر - <span>الإسماعيلية</span></h3>
                                </div>
                                <div class="right pull-right">
                                    <div class="review-box">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="text-holder">
                                <p>أجرى كل الإصلاحات وكلفني حوالي ثلث السعر. كنت سعيدًا حقًا بالعمل الذي تم إنجازه. كانوا على علم بنقلنا على الطريق.</p>
                            </div>
                        </div>
                </div>
                <div class="testimonail-item">
                    <div class="single-testimonial-item">
                        <div class="top">
                            <div class="left thumb pull-right">
                                <img src="assets/images/thumb-1.jpg" alt="Awesome Image">
                            </div>
                            <div class="left title pull-right">
                                <h3> مصر - <span>الإسماعيلية</span></h3>
                            </div>
                            <div class="right pull-right">
                                <div class="review-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <p>أجرى كل الإصلاحات وكلفني حوالي ثلث السعر. كنت سعيدًا حقًا بالعمل الذي تم إنجازه. كانوا على علم بنقلنا على الطريق.</p>
                        </div>
                    </div>
            </div>
            <div class="testimonail-item">
                <div class="single-testimonial-item">
                    <div class="top">
                        <div class="left thumb pull-right">
                            <img src="assets/images/thumb-1.jpg" alt="Awesome Image">
                        </div>
                        <div class="left title pull-right">
                            <h3> مصر - <span>الإسماعيلية</span></h3>
                        </div>
                        <div class="right pull-right">
                            <div class="review-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <p>أجرى كل الإصلاحات وكلفني حوالي ثلث السعر. كنت سعيدًا حقًا بالعمل الذي تم إنجازه. كانوا على علم بنقلنا على الطريق.</p>
                    </div>
                </div>
        </div>
                </div>
            </div>    
        </div>
    </div>
</section>

<section class="team-area">
    <div class="container">
        <div class="sec-title text-center">
            <h1>عملائنا من معارض السيارات</h1>
            <span class="border center"></span>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="scrolling">
                    <div *ngFor="let client of allExpertsArr" class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div routerLink="/profile/{{client.userId}}" class="single-team-member" style="margin: 0 10px; cursor: pointer;">
                            <div class="img-holder">
                                <img style="width: 100%; height: 100%;" src="https://localhost:7285/{{client.logo}}" alt="Awesome Image">
                                <div class="overlay-style-one">
                                    <div class="box">
                                        <div class="content">
                                            <ul>
                                                <li><a target="_blank" href="https://www.facebook.com/RamaMotorseg?mibextid=ZbWKwL"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li><a target="_blank" href="https://www.twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li><a target="_blank" href="https://instagram.com/rama_motors_?igshid=MzRlODBiNWFlZA=="><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-holder">
                                <h3>{{client.userName}}</h3>
                                <div class="product-rate d-inline-block">
                                    <i [ngClass]="{'check': client.rate>=1}" class="fa fa-star"></i>
                                    <i [ngClass]="{'check': client.rate>=2}" class="fa fa-star"></i>
                                    <i [ngClass]="{'check': client.rate>=3}" class="fa fa-star"></i>
                                    <i [ngClass]="{'check': client.rate>=4}" class="fa fa-star"></i>
                                    <i [ngClass]="{'check': client.rate==5}" class="fa fa-star"></i>
                                </div>
                                <div class="bottom">
                                    <ul>
                                        <li> <i class="fa fa-phone check" aria-hidden="true"></i> {{client.phoneNumber}} </li>
                                        <li> <i class="fa fa-map-pin check" aria-hidden="true"></i> {{client.address}} </li>
                                    </ul>
                                </div>
                            </div>    
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>           
</section>
<app-product-listing [fromHome]="true"></app-product-listing>
<section class="brand-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="scrolling">
                    <div class="brand-item">
                        <div class="single-item">
                            <a><img src="assets/images/1.png" alt="Awesome Brand Image"></a>
                        </div>
                    </div>
                    <div class="brand-item">
                        <div class="single-item">
                            <a><img src="assets/images/2.png" alt="Awesome Brand Image"></a>
                        </div>
                    </div>
                    <div class="brand-item">
                        <div class="single-item">
                            <a><img src="assets/images/3.png" alt="Awesome Brand Image"></a>
                        </div>
                    </div>
                    <div class="brand-item">
                        <div class="single-item">
                            <a><img src="assets/images/4.png" alt="Awesome Brand Image"></a>
                        </div>
                    </div>
                    <div class="brand-item">
                        <div class="single-item">
                            <a><img src="assets/images/5.png" alt="Awesome Brand Image"></a>
                        </div>
                    </div>
                    <div class="brand-item">
                        <div class="single-item">
                            <a><img src="assets/images/6.png" alt="Awesome Brand Image"></a>
                        </div>
                    </div>
                    <div class="brand-item">
                        <div class="single-item">
                            <a><img src="assets/images/1.png" alt="Awesome Brand Image"></a>
                        </div>
                    </div>
                    <div class="brand-item">
                        <div class="single-item">
                            <a><img src="assets/images/2.png" alt="Awesome Brand Image"></a>
                        </div>
                    </div>
                    <div class="brand-item">
                        <div class="single-item">
                            <a><img src="assets/images/3.png" alt="Awesome Brand Image"></a>
                        </div>
                    </div>  
                    <div class="brand-item">
                        <div class="single-item">
                            <a><img src="assets/images/4.png" alt="Awesome Brand Image"></a>
                        </div>
                    </div>
                    <div class="brand-item">
                        <div class="single-item">
                            <a><img src="assets/images/5.png" alt="Awesome Brand Image"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>