<div class="boxed_wrapper">
    <app-second-header></app-second-header>
    
    <app-breadcrumb [activePageName]="'About Us'"></app-breadcrumb>
    
    <!--Start call to action area-->
    <section class="welcome-area sec-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-holder">
                        <div class="sec-title">
                            <h1>أهلا بك في كار <span>هب</span></h1>
                            <span class="border"></span>
                         </div> 
                        <div class="text-box">
                            <p style="font-size: 15px;">نشاط تجاري يهدف إلى تلبية احتياجات العملاء فيما يتعلق بالحصول على سيارات جديدة أو مستعملة
                                للاستخدام الشخصي أو التجاري، تأجير السيارات للعملاء لفترات زمنية محددة ، حيث يتم دفع رسوم إيجار شهرية أو أسبوعية
                                مقابل استخدام السيارة دون الحاجة لشرائها، نقوم بتأمين مجموعة متنوعة من السيارات المتاحة للإيجار والشراء، مع الاهتمام بالعلامات التجارية والطرازات المفضلة لدى العملاء.</p>
                            <p>نحن نقدم تقديرًا كاملاً ومفصلاً لجميع عملبات البيع والشراء مقدمًا. يتم بعد ذلك تحديث العملاء بشكل كامل وإخطارهم
                                .بأي تغييرات لا مفر منها خلال العملية. تحقيق أعلى درجات إرضاء العملاء من خلال صنعة وخدمة متفوقة</p>
                            <div class="name-signature">
                                <div class="name">
                                    <h3>FCI Team, <span>Founder</span></h3>
                                    <p>CarHub</p>
                                </div>
                                <div class="signature">
                                    <img style="width: 144px;height: 122px;" src="../../../assets/images/carhub-logo(1).png" alt="Signature">    
                                </div>    
                            </div>
                        </div>
                         
                    </div>
                </div> 
                <div class="col-md-6">
                    <div class="video-holder">
                        <img src="../../../assets/images/video-gallery.jpg" alt="Awesome Video Gallery">
                        <div class="overlay-gallery">
                            <div class="icon-holder">
                                <div class="icon">
                                    <a class="html5lightbox" title="MechanicHub Video Gallery" href="https://www.youtube.com/watch?v=nFtbf4prm78"><img src="../../../assets/images/play-btn.png" alt="Play Button"></a>   
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
                   
            </div>
        </div>
    </section>
    <!--End call to action area-->
    
    <!--Start contact info area-->
    <section class="contact-info-area">
        <div class="container">
            <div class="title text-center">
                <h2>هل تواجه أي مشاكل عند شراء سيارتك ، لا تقلق</h2>
                <p>اتصل بنا! نحن نعد بأننا نستطيع مساعدتك! اتصل الان!</p>
            </div>
            <div class="row">
                <!--Start single box-->
                <div class="col-md-4">
                    <div class="single-box">
                        <div class="top">
                            <h3>دعم العملاء <i class="fa fa-phone-square"></i></h3>
                        </div> 
                        <div class="text">
                            <h1>01210810661</h1>
                            <p> كارهب يقدم افضل خدمات السيارات من بيع او شراء او ايجار.</p>
                        </div>   
                    </div>
                </div>
                <!--End single box-->
                <!--Start single box-->
                <div class="col-md-4">
                    <div class="single-box">
                        <div class="top">
                            <h3>ساعات العمل <i class="fa fa-clock-o"></i></h3>
                        </div> 
                        <ul class="working-hour">
                            <li> ٠ ٠ :٩ ٠  ص - ٠ ٠ :٨ ٠ م<span>ايام الاسبوع : </span></li>
                            <li>٠ ٠ :١٠ ٠  ص - ٠ ٠ :٦ ٠ م  <span>السبت : </span></li>
                            <li>مغلق  <span><b>الجمعة :</b></span></li>
                        </ul>  
                    </div>
                </div>
                <!--End single box-->
                <!--Start single box-->
                <div class="col-md-4">
                    <div class="single-box">
                        <div class="top">
                            <h3>دعم العملاء  <i class="fa fa-phone-square"></i></h3>
                        </div> 
                        <div class="newsletter-form">
                            <form action="#">
                                <input type="email" name="email" placeholder="البريد الالكتروني">
                                <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            </form>
                            <p>* البريد الخاص بك محمي بالكامل..</p>
                        </div>  
                    </div>
                </div>
                <!--End single box-->        
            </div>
        </div>
    </section> 
    <!--End contact info area-->
    
    <!--Start choosing area-->
    <section class="choosing-area">
        <div class="sec-title text-center">
            <h1>لماذا أخترتنا</h1>
            <span class="border center"></span>
        </div>
        <div class="container">
            <div class="row">
                <!--Start single industry expertise item-->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="single-item">
                        <div class="icon-holder">
                            <span class="flaticon-avatar"></span>
                        </div>
                        <div class="content">
                            <h3>100٪ شفافية</h3>
                            <p>نحن نضمن حصولك على تفصيل تفصيلي جيد لكل عملية بيع وشراء</p>
                            <a href="#">قراءة المزيد <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>    
                    </div>
                </div>
                <!--End single industry expertise item-->
                <!--Start single industry expertise item-->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="single-item">
                        <div class="icon-holder">
                            <span class="flaticon-wrench"></span>
                        </div>
                        <div class="content">
                            <h3>بيع وشراء بطريقة امنة</h3>
                            <p>عرض قطع غيار واكسسوارات عربيات اصليه ومصرح بها للضمان .</p>
                            <a href="#">قراءة المزيد <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>    
                    </div>
                </div>
                <!--End single industry expertise item-->
                <!--Start single industry expertise item-->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="single-item">
                        <div class="icon-holder">
                            <span class="flaticon-factory"></span>
                        </div>
                        <div class="content">
                            <h3> جودة الخدمات
                            </h3>
                            <p>منتجات اصلية وخامات مستوردة وطويلة الأجل .</p>
                            <a href="#">قراءة المزيد <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>    
                    </div>
                </div>
                <!--End single industry expertise item-->
            </div>
            <div class="row">
                <!--Start single industry expertise item-->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="single-item">
                        <div class="icon-holder">
                            <span class="flaticon-maintenance"></span>
                        </div>
                        <div class="content">
                            <h3>سهل الاستخدام</h3>
                            <p>مجموعة مهنية ودية ومفيدة من الناس في كار هب.</p>
                            <a href="#">قراءة المزيد <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>    
                    </div>
                </div>
                <!--End single industry expertise item-->
                <!--Start single industry expertise item-->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="single-item">
                        <div class="icon-holder">
                            <span class="flaticon-medal"></span>
                        </div>
                        <div class="content">
                            <h3>توصيل و إستلام مجاني</h3>
                            <p>يمكنك الاستفادة من خدمة التوصيل المجانية حتى تتمكن من الجلوس والاسترخاء.
                            </p>
                            <a href="#">قراءة المزيد <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>    
                    </div>
                </div>
                <!--End single industry expertise item-->
                <!--Start single industry expertise item-->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="single-item">
                        <div class="icon-holder">
                            <span class="flaticon-motor"></span>
                        </div>
                        <div class="content">
                            <h3>اقتراب المسافات</h3>
                            <p>سهولة التواصل وزيارة الموقع . </p>
                            <a href="#">قراءة المزيد <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>    
                    </div>
                </div>
                <!--End single industry expertise item-->
            </div>    
        </div>    
    </section>        
    <!--End choosing area-->
    
    <!--Start slogan area-->
    <section class="slogan-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner-content wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: fadeInUp;">
                        <div class="title pull-left">
                            <h1 style="margin: 9px 177px">نحن نوفر لهم الوصول إلى العملاء ، والأجزاء عالية الجودة.</h1>
                        </div>
                        <div class="button pull-right">
                            <a style="color: white;" class="thm-btn" href="#">إقتبس</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  
    <!--End slogan area-->  
      
    <!--Start footer area-->  
    <app-footer></app-footer> 
    
</div>