<section class="mainmenu-area stricky">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 clearfix">
                <div class="logo pull-left">
                </div>
                <nav class="main-menu pull-left">
                    <div class="navbar-collapse clearfix">
                        <ul class="navigation clearfix">
                            <li><a routerLink="/contact-us">تواصل معنا</a></li>
                            <li class="dropdown current"><a>من نحن</a>
                                <ul>
                                    <li><a routerLink="/about-us">عن كار هاب</a></li>
                                    <li><a routerLink="/meet-our-experts">عملائنا من معارض السيارات</a></li>
                                    <li><a routerLink="/questions-and-answers">سؤال وجواب</a></li>
                                </ul>
                                <div class="dropdown-btn"></div>
                            </li>
                          
                            <li class="dropdown"><a>المتجر</a>
                                <ul>
                                    <li><a routerLink="/shop">المتجر</a></li>

                                    <li><a routerLink="/car-shop">السيارات المنشورة</a></li>
                                    <li><a routerLink="/my-favourite">قائمة المفضلة لدي</a></li>
                                </ul>
                                <div class="dropdown-btn"></div>
                            </li>
                            <li><a routerLink="/">الصفحة الرئيسية</a></li>

                        </ul>
                    </div>
                </nav>
            </div>   
        </div>
    </div>
</section>