<section class="breadcrumb-area" style="background-image: url('../../../assets/images/breadcrumb-bg.jpg');">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="breadcrumbs">
                  <h1>{{activePageName}}</h1>
              </div>
          </div>
      </div>
  </div>
  <div class="breadcrumb-botton">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <ul class="left">
                      <li><a href="index.html">الصفحة الرئيسية</a></li>
                      <li><i class="fa fa-angle-left" aria-hidden="true"></i></li>
                    <li class="active">{{activePageName}}</li>
                  </ul>   
              </div>
          </div>
      </div>
  </div>
</section>